# xG Modelling

xG : Expected Goals

## Setup

In [13]:
import pandas as pd
import numpy as np
import json
import os
import warnings

import statsmodels.api as sm
import statsmodels.formula.api as smf

from matplotlib import pyplot as plt
from mplsoccer import VerticalPitch

In [14]:
notebook_directory = os.getcwd()
course_directory = notebook_directory.rsplit("\\Notebooks")[0]
os.chdir(course_directory)

## Data

In [15]:
train_df = pd.DataFrame()

for i in range(13):
    with open(f"data\wyscout\events_England_{i+1}.json") as file:
        data = json.load(file)    
    train_df = pd.concat([train_df, pd.DataFrame(data)])

train_df

       eventId           subEventName  ... subEventId         id
0            8            Simple pass  ...         85  177959171
1            8              High pass  ...         83  177959172
2            8              Head pass  ...         82  177959173
3            8              Head pass  ...         82  177959174
4            8            Simple pass  ...         85  177959175
...        ...                    ...  ...        ...        ...
43145        5  Ball out of the field  ...         50  251596409
43146        3                 Corner  ...         30  251596232
43147        1               Air duel  ...         10  251596410
43148        1               Air duel  ...         10  251596234
43149       10                   Shot  ...        100  251596236

[643150 rows x 12 columns]

In [24]:
shots_df = train_df[train_df['eventId'] == 10].copy()
shots_df

       eventId subEventName  ... subEventId         id
46          10         Shot  ...        100  177959212
62          10         Shot  ...        100  177959247
91          10         Shot  ...        100  177959280
128         10         Shot  ...        100  177959289
249         10         Shot  ...        100  177959429
...        ...          ...  ...        ...        ...
42945       10         Shot  ...        100  251596053
43023       10         Shot  ...        100  251596096
43051       10         Shot  ...        100  251596357
43055       10         Shot  ...        100  251596359
43149       10         Shot  ...        100  251596236

[8451 rows x 12 columns]

### Shot Positions
- Need to scale the position of the shots to taking place on a `105*68` pitch, with `x=0` being the goal.
- C is an auxillary variable which will be used to calculate the distance and angle of a shot = distance from a

In [26]:
shots_df["X"] = shots_df["positions"].apply(lambda cell: (100-cell[0]["x"]) * 105/100)
shots_df["Y"] = shots_df["positions"].apply(lambda cell: (100-cell[0]["y"]) * 68/100)
shots_df["C"] = shots_df["positions"].apply(lambda cell: abs(100-cell[0]["y"] - 50) * 68/100)